[submodule "api"]
	path = api
	url = https://github.com/kimanihuon/digitalmatatusapi.git
[submodule "fe"]
	path = fe
	url = https://github.com/kimanihuon/digitalmatatusfe.git
[submodule "db"]
	path = db
	url = https://github.com/kimanihuon/digitalmatatusdb.git
[submodule "django"]
	path = django
	url = https://github.com/kimanihuon/digitalmatatusdjango.git
